{% extends 'back/base_back.html.twig' %}

{% block title %}Votes{% endblock %}

{% block body %}
    <h1>Liste des votes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.id }}</td>
                <td>{{ vote.rating }}</td>
                <td>
                    <a href="{{ path('app_back_vote_show', {'id': vote.id}) }} " class="btn btn-info btn-sm">Détail</a>
                    <a href="{{ path('app_back_vote_edit', {'id': vote.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_vote_new') }}" class="btn btn-success">Nouveau vote</a>
{% endblock %}
